.navbar{

    position:fixed;
    top:20px;
    left:50%;
    transform:translateX(-50%);

    width:90%;
    max-width:1250px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:16px 30px;

    background:rgba(255,255,255,.65);

    backdrop-filter:blur(18px);

    border-radius:999px;

    box-shadow:0 10px 30px rgba(0,0,0,.08);

    z-index:1000;
}

.logo{

    display:flex;
    align-items:center;
    gap:12px;
}

.logo-icon{

    font-size:24px;
}

.logo h2{

    margin:0;

    font-family:"Playfair Display",serif;

    font-size:32px;

    letter-spacing:1px;
}

.nav-links{

    list-style:none;

    display:flex;

    gap:50px;
}

.nav-links a{

    text-decoration:none;

    color:#2E2E2E;

    font-weight:600;

    transition:.3s;
}

.nav-links a:hover{

    color:#8C6A5D;
}

.write-btn{

    background:linear-gradient(135deg,#8C6A5D,#A67B6A);

    color:white;

    border:none;

    border-radius:999px;

    padding:16px 34px;

    font-weight:600;

    transition:.35s;

    box-shadow:0 12px 25px rgba(140,106,93,.25);

    cursor:pointer;

}

.write-btn:hover{

    transform:translateY(-4px);

    box-shadow:0 18px 35px rgba(140,106,93,.35);

}
.random-btn {
  background: linear-gradient(135deg,#8C6A5D,#A67B6A);
  color: white !important;
  padding: 16px 34px;
  border-radius: 999px;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  transition: .35s;
  box-shadow: 0 12px 25px rgba(140,106,93,.25);
}

.random-btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 18px 35px rgba(140,106,93,.35);
}